<extend name="common/common"></extend>
<block name="body">
    <body>
    <div class="x-body">
        <form action="" method="post" class="layui-form layui-form-pane">
            <input class="layui-input" type="hidden" name="__token__" value="<{$token}>">
            <input class="layui-input" type="hidden" name="id" value="<{$data['id']}>">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>角色名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" value="<{$data['name']}>" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    拥有权限
                </label>

                <table  class="layui-table layui-input-block">
                    <tbody>
                    <volist name="auth_list" id="vo">
                        <tr>
                            <td>
                                <if condition="$vo['child']">
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                </if>
                                <{$vo['name']}>
                                <input name="auth[<{$vo['id']}>]" type="checkbox" <if condition="in_array($vo['auth'],$data['auth'])">checked</if> lay-filter="chaeckALl" class="chaeckALl chaeck" value="<{$vo['auth']}>">
                            </td>
                            <td>
                                <if condition="$vo['child']">
                                    <div class="layui-input-block">
                                        <volist name="$vo['child']" id="v">
                                            <input name="auth[<{$v['id']}>]" type="checkbox" <if condition="in_array($v['auth'],$data['auth'])">checked</if>  class="chaeckChren<{$vo['auth']}> chaeck" value="<{$v['auth']}>"> <{$v['name']}>
                                        </volist>
                                    </div>
                                </if>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="layui-form-item layui-form-text">
                <label for="desc" class="layui-form-label">
                    描述
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea"><{$data['desc']}></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="add">提交</button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer;

            //监听提交
            form.on('submit(add)', function(data){
                AjaxP("<{:url('role/save')}>",'POST',data.field,false,false);
                return false;
            });


        });
    </script>

    </body>
</block>