<extend name="common/common"></extend>
<block name="body">

    <include file="common/nav"/>
    <div class="x-body">
        <div class="layui-row">
            <form method="get" action="<{:url('admin/index')}>" class="layui-form layui-col-md12 x-so">
                <div class="layui-input-inline" style="width: 100px">
                    <select name="type" lay-verify="required">
                        <volist name="types" id="vo">
                            <option value="<{$vo[0]}>" <if condition="$sreach['type'] eq $vo[0]">selected</if>><{$vo[1]}></option>
                        </volist>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="key" value="<{$sreach['key']}>" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>

                <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <button class="layui-btn" onclick="x_admin_show('添加用户','<{:url('admin/create')}>')"><i class="layui-icon"></i>添加</button>

        </xblock>

        <input class="layui-input" type="hidden" name="__token__" value="<{$token}>">
        <table class="layui-table">
            <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                </th>
                <th>用户名称</th>
                <th>所属角色</th>
                <th>姓名</th>
                <th>联系方式</th>
                <th>登录次数</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='<{$vo['id']}>'><i class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>
                        <{$vo['username']}>
                    </td>
                    <td><{$vo['group_id']['name']}></td>
                    <td><{$vo['name']}></td>
                    <td>
                        邮箱:<{$vo['email']}> <br>
                        手机:<{$vo['mobile']}> <br>
                    </td>
                    <td><{$vo['login_num']}></td>
                    <td><{$vo['add_time']}></td>
                    <td class="td-manage" >
                        <a title="编辑"  onclick="x_admin_show('编辑角色','<{:url('admin/edit',['id'=>$vo['id']])}>')" href="javascript:;">
                            编辑
                        </a>
                        <a title="删除" onclick="delAll('<{$vo['id']}>')" href="javascript:;">
                            删除
                        </a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>

        <div class="page">
            <{$list->render()}>
        </div>
    </div>
    <script type="text/javascript">
        layui.use(['layer'], function(){
            $ = layui.jquery;
            var layer = layui.layer;

        });

        function delAll(argument) {
            var data;
            if(argument){
                data =[argument];
            }else{
                data = tableCheck.getData();
            }
            var token=$('[name="__token__"]').val();
            layer.confirm('确认删除这条数据？',function(index){
                //捉到所有被选中的，发异步进行删除
                //捉到所有被选中的，发异步进行删除
                var url="<{:url('admin/delete')}>";
                AjaxP(url,'POST',{"ids":data,"__token__":token},function(res){
                    if(res.code==1){
                        deleCall();
                    }

                });

            });
        }

    </script>
    </body>
</block>