<extend name="common/common"></extend>
<block name="body">
    <body>
    <div class="x-body">
        <form action="" method="post" class="layui-form layui-form-pane">
            <input class="layui-input" type="hidden" name="__token__" value="<{$token}>">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>上级权限
                </label>
                <div class="layui-input-inline">
                    <select name="parent_id" lay-verify="required">
                        <option value="0">作为一级权限</option>
                        <volist name="auth_list" id="vo">
                            <option value="<{$vo['id']}>"><{$vo['name']}></option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>权限名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>权限标识
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="auth" name="auth" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="add">提交</button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer;

            //监听提交
            form.on('submit(add)', function(data){
                AjaxP("<{:url('auth/save')}>",'POST',data.field,false,false);
                return false;
            });


        });
    </script>

    </body>
</block>